* {
    font-family: "Microsoft YaHei", "微软雅黑", "宋体", sans-serif;
}

ul, li {
    list-style: outside none none;
}

ul {
    margin-left: -25px;;
}

ul > li {
    margin-left: -10px;;
}

.answer-list > div {
    border: 1px solid #f38399;
    border-radius: 3px;
    margin-bottom: 10px;
}

div.divider {
    border-bottom: 2px solid #f38399;
}

h2 a, h3 a, h4 a {
    font-weight: normal;
    font-size: 18px;
}

.tips .success {
    color: #02ff98;
    font-weight: bold;
}

.test-list > li {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

div.toggleClass {
    display: none;
}

a {
    text-decoration: none;
    font-size: 18px;
}
a:hover{
    text-decoration: underline;
}

ul.operate-list li {
    display: inline;
    padding-right: 30px;
}

.gray {
    color: #cccccc;
}

/*问题列表的菜单*/
.list-menu {
    background-color: #ffd;
    border: 2px solid #F1B5FD;
    border-radius: 3px;
    position: absolute;
    padding-top: 20px;
}

.errormessage {
    color: red;
}

.correct {
    color: #4eba22;
    font-weight: bolder;
}

.errormessageBig {
    font-size: 20px;
    color: red;
}

.successMessageBig {
    font-size: 20px;
    color: #47BED9;
    background-color: white;
}
input[type=submit] {
    padding: 10px 30px;
    border: 0 none;
    background-color: #05a1e7;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #0376e7;
    border-radius: 5px;
}
input[type=button].submit {
    padding: 10px 30px;
    border: 0 none;
    background-color: #05a1e7;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}
input[type=button].submit:hover{
    background-color: #0376e7;
    border-radius: 5px;
}
table.stubList tr:nth-child(2n+2){
    background-color:#defcfe;
}
table.stubList tr:nth-child(n+2):hover
{
    background-color: #B0D2FF;
}
table{
    border-collapse: collapse;
}

.selected {
    background-color: rgba(241, 181, 253, 0.09)
}

div.stubRange {
    width: 1200px;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 501px;
}